@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

html {
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Itim";
  overflow-x: hidden;
}

/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  background-color: bisque;
  position: fixed;
  /* top: 10px; */
  width: 100%;
}

header > a {
  margin-left: 30px;
  /* font-size: 35px; */
}
ul {
  display: flex;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
  margin: 0 20px;
  padding-top: 15px;
}

.mobile-navbar-btn {
  margin-right: 30px;
  display: flex;
  align-items: center;
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  /* display: none; */
  width: 40px;
  height: 40px;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* Home Section */
.home-section {
  background: #ee9ca7;
  height: 100vh;
}

.home-section > .home-container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section > .home-container > div {
  /* background-color: #d8b5ff; */
  height: 70vh;
  width: 50vw;
  margin: 20px;
}

.home-container > .profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container > .profile-photo > img {
  border-radius: 50%;
  width: 20vw;
}

.home-container > .profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-container > .profile-details > h1,
.home-container > .profile-details > h3,
.home-container > .profile-details > p {
  margin: 20px 0 0 60px;
}

.home-container > .profile-details > h1 {
  font-size: 50px;
}

.home-container > .profile-details > div {
  display: flex;
  align-items: center;
}

.home-container > .profile-details > .personal-details {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.home-container > .profile-details > .personal-details > button {
  margin: 10px 100px 0 0;
  padding: 15px;
  width: 120px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background-color: #c6ea8d;
  border-radius: 30px;
}

.home-container > .profile-details > .personal-details > div {
  margin-left: -100px;
}

.home-container > .profile-details > .personal-details > div > a {
  margin: 15px;
}

/* Skills Section */
.skills-section {
  background: #c6ea8d;
  height: 100vh;
}

.skills-section > .skills-container {
  height: inherit;
  display: flex;
  justify-content: center;
  justify-content: center;
}

.skills-section > .skills-container > div {
  /* background-color: #d8b5ff; */
  height: 80vh;
  width: 50vw;
  margin: 10px;
  padding: 20px;
}

.skills-section > .skills-container > .skills-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skills-container > .skills-content > h1 {
  font-size: 100px;
  margin-bottom: 20px;
}

.skills-details {
  padding-top: 130px !important;
}

.skills-details > .skill-title > h4 {
  margin-bottom: 5px !important;
}

.skills-details > .parent-line {
  background-color: white;
  height: 3px;
  width: 100%;
  margin-bottom: 40px;
}

.html-success {
  height: 3px;
  width: 70%;
  background-color: purple;
}

.css-success {
  height: 3px;
  width: 60%;
  background-color: purple;
}

.js-success {
  height: 3px;
  width: 50%;
  background-color: purple;
}

.react-success {
  height: 3px;
  width: 40%;
  background-color: purple;
}

.redux-success {
  height: 3px;
  width: 30%;
  background-color: purple;
}

.mui-success {
  height: 3px;
  width: 20%;
  background-color: purple;
}

.tailwind-success {
  height: 3px;
  width: 20%;
  background-color: purple;
}

/* Project Section */
.project-section {
  background: #d8b5ff;
  height: fit-content;
  padding-top: 90px;
}

.project-section > .project-container > h1 {
  font-size: 100px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

.project-boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.project-boxes > .project {
  height: fit-content;
  background-color: #c6ea8d;
  width: fit-content;
  margin: 10px 10px 50px 10px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 20px 20px 10px 5px rgba(0, 0, 0, 0.2);
}

.project-boxes > .project > img {
  width: 300px;
  height: 300px;
  padding: 20px 50px 10px 50px;
  display: block;
  border-radius: 20%;
}

.project > .project-name {
  font-size: 50px;
}

.project > .project-links {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.project-links > button:hover {
  transform: scale(1.5);
  transition: 0.5s ease-in-out;
}

.project-links > a:focus {
  transform: translateY(2px);
}

/* Contact Section */
.contact-section {
  background: #a9f1df;
  height: 98vh;
  margin: -10px 0;
  padding-top: 80px;
}

.contact-section > .contact-container {
  display: flex;
}

.contact-section > .contact-container > div {
  /* background-color: #d8b5ff; */
  height: 88vh;
  width: 50vw;
  margin: 20px;
}

.contact-container > .contact-form {
  padding: 0px 30px;
}

.contact-form > h1 {
  font-size: 30px;
}

.contact-form > p {
  font-size: 20px;
}

.form {
  margin-top: 50px;
}

.form > div {
  margin: 30px 0;
}

.form > div > label {
  font-size: 20px;
}

.form > div > input,
.form > div > textarea {
  width: 600px;
  /* height: 20px; */
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.form > div > button {
  padding: 20px;
  border-radius: 10px;
  border: none;
  background-color: #c6ea8d;
}

.form > div > button:active {
  transform: translateY(2px);
}

.contact-details > div {
  margin: 30px;
}

.contact-details > div > div {
  margin: 20px;
}

/* Footer Section */
footer {
  background: #a1c4fd;
  height: 20vh;
  text-align: center;
}

footer > h1 {
  margin-top: 0;
  padding-top: 15px;
}

footer > ul {
  justify-content: center;
}

footer > ul > li {
  padding: 0 20px;
}
/* MEDIA QUERIES*/
@media screen and (max-width: 1150px) {
  .form > div > input,
  .form > div > textarea {
    width: 400px;
  }
}

@media screen and (max-width: 800px) {
  .mobile-navbar-btn {
    display: flex;
    z-index: 999;
    cursor: pointer;
  }

  /* header {
    position: relative;
  } */

  header > h1 {
    width: 40%;
  }

  header > ul {
    /* display: none; */
    width: 100%;
    height: 110vh;
    margin-top: -10px;
    background-color: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  header > ul > a {
    margin: 20px;
    font-size: 30px;
  }

  .active > ul {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active > .mobile-navbar-btn > .mobile-nav-icon[name="close-outline"] {
    display: flex;
  }

  .active > .mobile-navbar-btn > .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  button {
    padding: 5px !important;
    font-size: 15px !important;
    width: 80px !important;
  }
  .personal-details > div > a {
    margin: 0 5px !important;
  }

  .skills-container > .skills-content > h1 {
    font-size: 50px;
    margin-top: 70px;
  }

  .form > div > input,
  .form > div > textarea {
    width: 300px;
    padding: 5px;
  }

  .contact-section {
    height: 120vh;
  }
}

@media screen and (max-width: 560px) {
  header {
    padding: 0 24px;
  }

  .project-boxes > .project {
    width: 250px;
  }

  .project > img {
    width: 200px !important;
    height: 150px !important;
    padding: 20px 10px 10px 25px !important;
  }

  .project > .project-name {
    font-size: 40px !important;
    width: 10px !important;
  }

  /* .contact-section {
    height: 130vh;
  } */

  .contact-section > .contact-container > div {
    padding: 0px;
  }

  .form > div > input,
  .form > div > textarea {
    width: 200px !important;
  }

  .contact-section > .contact-container > .contact-details {
    margin: 0;
  }

  .contact-details > div {
    margin: 0;
  }

  .contact-details > div > div {
    margin-left: 0;
  }

  footer {
    height: 160px;
  }
}
